<html>
    <head>
        <title>
            Home
        </title>
        <style>
            .nav-right{
              position: absolute;
              right: 30px;

            }
            .table-hover tbody tr:hover td  
            {  
                background-color: rgba(173, 173, 208, 0.39);  
                }   


        </style>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script type = "text/JavaScript" src = " https://MomentJS.com/downloads/moment.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>

        <style>
          table {
            font-family: Arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 20px;
          }
  
          th, td {
            text-align: left;
            padding: 8px;
          }
  
          th {
            background-color: #ddd;
            font-weight: bold;
          }
  
          tr:nth-child(even) {
            background-color: #f2f2f2;
          }
  
          a {
            color: grey;
            text-decoration: none;
            cursor: pointer;
          }
          </style>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="../static/css/table.css"> -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
    <body onload="userDetails()">
      {% block y %}
      {% if session.userWID %}
      <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
              <img src='../static/logo/little-blocks-logo.png' alt="Little Blocks Logo" />
              <div class = 'nav-right'>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav">
                    <a class="nav-link" href="{{ url_for('myTrades') }}">My Trades <span class="sr-only">(current)</span></a>
                    </li>
                  <ul class="navbar-nav">
                    <li class="nav-item active">
                      <a class="nav-link" href="{{ url_for('index') }}">Trade List <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('createTrade') }}">Create Trade</a>

                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/logout">Log Out</a>
                    </li>
                  </ul>
                </div>
              </div>
        </nav>
      </div>
      <div>

      <center>
      <!-- <h2>Machine List</h2>
      <form action = "/machineDashboard" method = "POST">
          <p>Machine ID <input type = "text" name = "machineID"></p>
          <p><input type = "submit" value = "submit" /></p>
      </form> -->


    <br>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <div class="card">
              <!-- <div class="card-body">
                <h5 class="card-title">Market Watch</h5>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Symbol</th>
                      <th scope="col">Price</th>
                      <th scope="col">Change</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>XYZ100</td>
                      <td>525</td>
                      <td><span class="text-success">+0.98 (0.74%)</span></td>
                    </tr>
                    <tr>
                      <td>ERE200</td>
                      <td>2345</td>
                      <td><span class="text-danger">-15.34 (-0.65%)</span></td>
                    </tr>
                    <tr>
                      <td>SCR100</td>
                      <td>698</td>
                      <td><span class="text-success">+5.67 (0.82%)</span></td>
                    </tr>
                  </tbody>
                </table>
              </div> -->

              <div class="card-body">
                <table id="symbols">
                </table>
              
                <!-- wrtire html for this fucntion
                      async function getSymbols(){
        console.log("getSymbols");
        const response = await fetch('/getSymbols')
              .then(response => response.json())
              .then(data => {
                  console.log(data);
                  var symbols = data.symbols;
                  var select = document.getElementById("symbol");
                  for(var i = 0; i < symbols.length; i++) {
                      var opt = symbols[i];
                      var el = document.createElement("option");
                      el.textContent = opt;
                      el.value = opt;
                      select.appendChild(el);
                  }
              })
      } -->

              </div>
            </div>
          </div>
          
          <div class="col-md-6">
            <div class="card">
              <div class="container">
                <div class="row">
                  <div class="col-md-8">
                    <div class="card">
                      <div class="card-header">
                        <h5 class="card-title">Price Chart</h5>
                      </div>
                      <div class="card-body">
                        <canvas id="price-chart"></canvas>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card">
                      <div class="card-header">
                        <h5 class="card-title">Order Entry</h5>
                      </div>
                      <div class="card-body">
                        <form onsubmit="placeOrder(event)">
                          <div class="mb-3">
                            <label for="order-type" class="form-label">Order Type</label>
                            <select class="form-select" id="order-type">
                              <option selected>Choose...</option>
                              <option value="fixed">Fixed Payment</option>
                              <option value="variable">Variable Payment</option>
                            </select>
                          </div>
                          <div class="mb-3">
                            <label for="symbol" class="form-label" >Symbol</label>
                            <input type="text" class="form-control" id = "order-symbol" placeholder="">
                          </div>

                          <div class="mb-3">
                            <label for="price" class="form-label">Margin (wei)</label>
                            <input type="number" class="form-control" id="order-margin" placeholder="">
                          </div>
                          <button type="submit" class="btn btn-primary" >Place Order</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>


                </div>
              
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Account Info</h5>
  
              <div class="card-body">
                <ul class="list-group">
                    <li class = "list-group-item" id = "userWalletAddress">Wallet Address: 123456789</li>
                  <li class="list-group-item" id = "userAccountBalance">Account Balance: 10,000</li>  
                </ul>
              </div>
              </div>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col-md-9">
          <div class="row mt-3">
            <div class="col-md-12" style="width: 100%;">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-title">Open Orders</h5>
                </div>
                <div class="card-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Symbol</th>
                        <th scope="col">Price</th>
                        <th scope="col">Type</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody id="open-orders-body">
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
          <div class="row mt-3">
            <div class="col-md-12" style="width: 100%;">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-title">Active Trades</h5>
                </div>
                <div class="card-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Symbol</th>
                        <th scope="col">Price</th>
                        <th scope="col">Type</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody id="open-orders-body">
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
          <div class="row mt-3">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">Trade History</h5>
              </div>
              <div class="card-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Symbol</th>
                      <th scope="col">Price</th>
                      <th scope="col">Type</th>
                      <th scope="col">Status</th>
                    </tr>
                  </thead>
                  <tbody id="trade-history-body">
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        </div>
        <div class = "col-md-3">
          <div class ="card">
            <div class="card-body">
              <button onclick="dayUsage()">
                <input type="number" id="dayUsage" name="date" value="">
                <a>dayUsage</a>
              </button>
            </div>
            <div class="card-body">
              <input type="date" id="date" name="date" value="">
              <button onclick="setDate()">
                <a>setDate</a>
              </button>
  
          </div>
      </div>


      </div>
        </div>
      </center>
      </div>
      {% else %}
          You are not Register. <a href="/login">login</a>.
      {% endif %}
      
      {% endblock %}
    </body>
    <script>

      // Chart.defaults.global.plugins.datalabels.format = (value, context) => {
      //   const date = DateTime.fromISO(value, {zone: context.chart.options.time.zone});
      //   return date.toFormat('MMM d, yyyy');
      // };

      // Chart.defaults.global.plugins.tooltip.callbacks.label = (tooltipItem, data) => {
      //   const date = DateTime.fromISO(tooltipItem.label, {zone: data.datasets[tooltipItem.datasetIndex].timezone});
      //   const label = date.toFormat('MMM d, yyyy');
      //   const value = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
      //   return `${label}: ${value}`;
      // };

      // Chart.defaults.global.plugins.tooltip.callbacks.title = (tooltipItems) => {
      //   const date = DateTime.fromISO(tooltipItems[0].label);
      //   return date.toFormat('MMMM d, yyyy');
      //};

      // Load price chart data

      function symbolChart(symbol, cumulativeFixedRepayment,cumulativeVariableRepayment, dates){
        var ctx = document.getElementById('price-chart').getContext('2d');
        var chart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: dates,
          datasets: [
            {
              label: 'Cumulative Variable Repayment',
              data: cumulativeVariableRepayment,
              borderColor: 'green',
              fill: false
            },
            {
              label: "Cumulative Fixed Repayment",
              data: cumulativeFixedRepayment,
              borderColor: 'red',
              fill: false
            }

        
        ]
        },
        options: {
          title: {
            display: true,
            text: 'XYZ1000'
          },
          scales: {
            xAxes: [{
              type: 'time',
              time: {
                parser: 'DD-MM-YYYY',
                unit: 'day',
                displayFormats: {
                  date: 'DD-MM-YYYY'
                }
              },
              scaleLabel: {
                display: true,
                labelString: 'Date'
              }
            }],
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
        }
      });
      }


      // Sample data
      var cumulativeVariableRepayment = [70, 150, 260, 310, 380, 460 , 550];
      var cumulativeFixedRepayment = [75,150,225,300,375,450,525]
      var dates = ['01-01-2022', '02-01-2022', '03-01-2022', '04-01-2022', '05-01-2022', '06-01-2022', '07-01-2022'];


      // Create the chart


      var priceData = [
        {x: '2021-01-01', y: 100},
        {x: '2021-01-02', y: 110},
        {x: '2021-01-03', y: 110},
        // ...
      ];

      // Configure price chart
      var priceChartConfig = {
        type: 'line',
        data: {
          datasets: [{
            data: priceData,
            borderColor: 'green',
            fill: false
          }]
        },
        options: {
          responsive: true,
          plugins: {
            legend: {
              display: true
            },
            tooltip: {
              intersect: false
            }
          },
          scales: {
            x: {
              type: 'time',
              time: {
                display: "true",
                unit: 'day'
              }
            }
          }
        }
      };

      // Create price chart
      //var priceChart = new Chart(document.getElementById('price-chart'), priceChartConfig);

      // Place order function
      async function placeOrder(event) {
        //event.preventDefault(); // prevent the form from submitting normally
        var orderType = document.getElementById("order-type").value;
        var orderSymbol = document.getElementById("order-symbol").value;
        var orderMargin = document.getElementById("order-margin").value;
        var orderTypeBool = 0;
        //var user = document.getElementById("userWalletAddress").value;
        var user = sessionStorage.getItem("user");
        var kldfrom = "kld-from=" + user;
        var kldsync = 'kld-sync=true'
        var kldethvalue = 'kld-ethvalue=' + orderMargin;
        if(orderType ==='variable'){
          orderTypeBool = 1;
        }


        var data = {
          "orderType": orderTypeBool
        }
        var myHeaders = new Headers();
        myHeaders.append("Authorization", "Basic dTFzeDlhMmpkMTppZkdwNFFKS2gtU3RLTlZTR0RZc2xQMHBmZEdMelFJMHhiSXAzNHRzNGQ4");

        var requestOptions = {
          method: 'POST',
          headers: myHeaders,
          redirect: 'follow',
          body: JSON.stringify(data)
        };

        console.log(user+" "+orderTypeBool + " " + orderSymbol + " " + orderMargin );
        var url = "https://u1afypqnup-u1qc0kallb-connect.us1-azure.kaleido.io/instances/0x51c83ffc78d2a7eb0ed8cc7392c41a9dbff3c901/participateInTrade?"+kldfrom+"&"+kldethvalue+"&"+kldsync;
        const response = await fetch(url, requestOptions)
          .then(response => response.json())
          .then(data => {
            console.log(data);
              updateOrderStatus(user, orderSymbol);
              alert("Order placed successfully");
          }
          )
          .catch(error => console.log('error', error));

      }

      // Handle form submit event
      // $('form').on('submit', function(event) {
      //   event.preventDefault();
      //   var orderType = $('#order-type').val();
      //   var symbol = $('#symbol').val();
      //   var price = $('#price').val();
      //   placeOrder(orderType, symbol, price);
      // });

      // Load open orders

      function updateOrderStatus(user, symbol){
        var raw = JSON.stringify({
          "userWID" : user,
          "symbol": symbol,
          "tradeState": "-1",
          "tradeID": "-1"
        });
          var myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");
        var requestOptions = {
          method: 'POST',
          headers: myHeaders,
          body: raw,
          redirect: 'follow'
        };

        fetch("http://localhost:5000/addOrder", requestOptions)
          .then(response => response.text())
          .then(result => console.log(result))
          .catch(error => console.log('error', error));
      }

      function loadOpenOrders() {
        var user = sessionStorage.getItem("user");
        var kldfrom = "kld-from=" + user;
        var kldsync = 'kld-sync=true'
        var myHeaders = new Headers();

        
        // get the list of open orders and trades
        // if the trade is open 

      }


      var openOrders = [
        {id: 1, symbol: 'XYZ100July15',  price: 100, type: 'Fixed Payment', status: 'open'},
        {id: 2, symbol: 'ERE200May30',  price: 200, type: 'Variable Payment', status: 'open'},
        // ...
      ];

      // Display open orders
      $.each(openOrders, function(index, order) {
        var row = $('<tr>');
        row.append($('<td>').text(order.id));
        row.append($('<td>').text(order.symbol));
        row.append($('<td>').text(order.price));
        row.append($('<td>').text(order.type));
        row.append($('<td>').text(order.status));
        row.append($('<td>').text(order.pnl));
        row.append($('<td>').append($('<button>').text('Exit').addClass('btn btn-success')));
        $('#open-orders-body').append(row);
      });

      // Load trade history
      var tradeHistory = [
        {id: 1, symbol: 'XYZ100July15',  price: 100, type: 'Fixed Payment', status: 'expired'},
        {id: 2, symbol: 'ERE200May30',  price: 200, type: 'Variable Payment', status: 'exited'},
        // ...
      ];

      // Display trade history
      $.each(tradeHistory, function(index, trade) {
        var row = $('<tr>');
        row.append($('<td>').text(trade.id));
        row.append($('<td>').text(trade.symbol));
        row.append($('<td>').text(trade.price));
        row.append($('<td>').text(trade.type));
        row.append($('<td>').text(trade.status));
        $('#trade-history-body').append(row);
      });

    </script>

    <script>

      async function userDetails(){
        var userWID;
        console.log("userDetails");
        const response = await fetch('/getAccountDetails')
              .then(response => response.json())
              .then(data => {
                  console.log(data);
                  userWID = data.userWID;
                  accountBalance = data.ether;
                  sessionStorage.setItem("user", userWID);
                  document.getElementById("userWalletAddress").innerHTML = "Address: " + userWID;
                  document.getElementById("userAccountBalance").innerHTML = "Balance: " + accountBalance + " ETH";
              })
      }

      function getBalance(userWID) {
        var myHeaders = new Headers();
        myHeaders.append("Authorization", "Basic dTFzeDlhMmpkMTppZkdwNFFKS2gtU3RLTlZTR0RZc2xQMHBmZEdMelFJMHhiSXAzNHRzNGQ4");

        url = "https://console-us1.kaleido.io/api/v1/consortia/u1zcnjj8mm/environments/u1afypqnup/eth/getbalance/" + userWID;

        var requestOptions = {
          method: 'GET',
          headers: myHeaders,
          redirect: 'follow'
        };

        fetch(url, requestOptions)
          .then(response => response.text())
          .then(
              result => {console.log(result);
              document.getElementById("userWalletAddress").innerHTML = "Address: " + userWID;
              document.getElementById("userAccountBalance").innerHTML = "Balance: " + result + " ETH";
              
            }
          )
          .catch(error => console.log('error', error));
      }


      // async function getSymbols(){
      //   console.log("getSymbols");
      //   const response = await fetch('/getSymbols')
      //         .then(response => response.json())
      //         .then(data => {
      //             console.log(data);
      //             var symbols = data.symbols;
      //             var select = document.getElementById("symbol");
      //             for(var i = 0; i < symbols.length; i++) {
      //                 var opt = symbols[i];
      //                 var el = document.createElement("option");
      //                 el.textContent = opt;
      //                 el.value = opt;
      //                 select.appendChild(el);
      //             }
      //         })
      // }

      async function getSymbols(){
        var myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        var raw = JSON.stringify({
          "database": "",
          "collection": ""
        });

        var requestOptions = {
          method: 'POST',
          headers: myHeaders,
          body: raw,
          redirect: 'follow'
        };

        const response = await fetch("http://localhost:5000/getSymbols", requestOptions)
          .then(response => response.json())
          .then(data => {
            console.log(data);
            symbolsTable(data);
          
          })
          .catch(error => console.log('error', error));

	    }

      async function symbolsTable(data){
        console.log("symbolsTable");
        console.log(data);
        const table = document.querySelector("#symbols");
        const tbody = document.createElement("tbody"); // move tbody creation before thead
        data.forEach(obj => {
          const row = tbody.insertRow();
          Object.keys(obj).forEach(key => {
            console.log(key, obj[key])
            if (key === 'symbol') {
              const cell = row.insertCell();

              const link = document.createElement("a");
              link.href = "#";
              link.innerText = obj[key];
              link.addEventListener("click", () => {
                //alert(`Clicked on ${obj[key]}`);
                pickedSymbol(obj[key]);
                console.log('${obj[key]}');
              });
              cell.appendChild(link);

            } else {
              const cellText = document.createTextNode(obj[key]);
              //cell.appendChild(cellText);
            }
          });
        });
        const thead = table.createTHead(); // create thead after tbody
        const headerRow = thead.insertRow();
        Object.keys(data[0]).forEach(key => {
          if(key ==="symbol"){
            const th = document.createElement("th");
            const headerText = document.createTextNode(key);
            th.appendChild(headerText);
            headerRow.appendChild(th);  
          }

        });
        table.appendChild(tbody);
      }
	    getSymbols(); 




      async function pickedSymbol(symbol){
        var myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        var raw = JSON.stringify({
          "database": "",
          "collection": ""
        });

        url = "http://localhost:5000/findBySymbol/" + symbol;

        var requestOptions = {
          method: 'POST',
          headers: myHeaders,
          body: raw,
          redirect: 'follow'
        };

        const response = await fetch(url, requestOptions)
          .then(response => response.text())
          .then(result => {
            console.log(result)
            var jsArray = JSON.parse(result);
            cumulativeFixedRepayment = jsArray[0].fixedRepaymentValue;
            cumulativeVariableRepayment = jsArray[0].variableRepaymentValue;
            dates = jsArray[0].date;            
            symbolChart(symbol, cumulativeFixedRepayment,cumulativeVariableRepayment, dates)
            orderPlacer(symbol);
          })
          .catch(error => console.log('error', error));


      }


      function orderPlacer(symbol){

        var myHeaders = new Headers();
        myHeaders.append("Authorization", "Basic dTFzeDlhMmpkMTppZkdwNFFKS2gtU3RLTlZTR0RZc2xQMHBmZEdMelFJMHhiSXAzNHRzNGQ4");
        userWID = "0x81db5f1e9d7fdd3bb8ca2ec20edb4dbd2f58b8a8";
        url = "https://u1afypqnup-u1qc0kallb-connect.us1-azure.kaleido.io/instances/"+symbol+"/getContractDetails?kld-from="+userWID; 
        var requestOptions = {
        method: 'POST',
        headers: myHeaders,
        redirect: 'follow'
        };

        fetch(url, requestOptions)
        .then(response => response.json())
        .then(result =>{
          console.log(result);
          var margin = parseInt(result.output4);
          console.log(margin);
          document.getElementById("order-margin").value = margin;
          document.getElementById("order-symbol").value = symbol;
        })

      }
    </script>

    <script>
      function nextDay(){
        
      }
    </script>
</html>
